<!--The content below is only a placeholder and can be replaced.-->
<h1>Hello World {{result}}</h1>
<p class="online" [ngStyle]= "{background: 'yellow'}">{{result2}}</p>

<li *ngFor="let xx of result3">
    {{xx.first_name}} {{xx.last_name}} {{xx.age}}
</li>

<app-helloworld></app-helloworld>
<app-helloworld2></app-helloworld2>